* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #242424;
  color: white;
}

.tablero {
  text-align: center;
}

.tablero h1 {
  padding: 1rem;
  font-size: 3rem;
}

.tablero button,
.ganador button {
  background: black;
  cursor: pointer;
  border: none;
  padding: 1rem 2rem;
  color: #fff;
  font-size: 1.3rem;
  font-weight: bold;
  position: relative;
  border-radius: 12px;
  margin: 1rem 0;
}

.tablero button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    45deg,
    #ff0000,
    #0000ff,
    #ff1493,
    blue,
    red,
    blue,
    deeppink,
    blue
  );
  background-size: 800%;
  border-radius: 10px;
  filter: blur(8px);
  animation: brillante 20s linear infinite;
}

@keyframes brillante {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}

.tablero .juego {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin: 1rem 0;
}

.tablero .juego .casilla {
  width: 100px;
  height: 100px;
  border: 2px solid #eee;
  cursor: pointer;
  display: grid;
  place-content: center;
}

.tablero .turno {
  display: flex;
  justify-content: center;
  margin: 1rem auto;
  gap: 10px;
}

.tablero .turno .casilla,
.tablero .turno span {
  padding: 0.5rem;
}

.tablero .turno .fondoTurno {
  background-color: blue;
}

.tablero .turno span {
  font-size: 1.2rem;
}

.tablero .ganador {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: grid;
  place-content: center;
  background-color: rgba(0, 0, 0, 0.7);
}

.tablero .ganador footer button {
  background: rgb(255, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(255, 0, 0, 1) 0%,
    rgba(0, 0, 255, 1) 35%,
    rgba(255, 20, 147, 1) 100%
  );
}
